html{background: url(../img/bg.png) repeat;}

body {font: 400 16px/1.6 'Lora', Georgia, serif;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.1em;}





/* =========================================================================
   header
*/
h1.title {
  margin: 2px 0 0 0;
  font: 400 2em 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}
h1.title a {color: #46362b;}
h1.title a:hover {text-decoration: none; color: #000;}

h3.subtitle{
  font: 400 .8em 'Lora', Georgia, serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
  margin-top: .15em;
}

.welcome {display: none; }

.navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: #8c0444;
    background-image: -webkit-linear-gradient(top, #8c0444 0%,#7E043D 100%);
    background-image: -moz-linear-gradient(top, #8c0444 0%,#7E043D 100%);
    background-image: linear-gradient(top, #8c0444 0%,#7E043D 100%);
}
.navbar .nav > li > a {
    color: #fff;  
}
.navbar .nav > li:hover > a { color:#fff;}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown:hover > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff; border-bottom-color: #fff;
}
.navbar .nav li:hover{background: #7E043D;}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background: #7E043D;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #8c0444;

}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background: #8c0444;
}
nav.secondary {}       
nav.secondary a,
nav.secondary > ul > li:before {
    color: #8c0444;
    font-size: 1em;
    line-height: 1.6em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3); 
    text-decoration: none;
}
nav.secondary > ul > li:before { content: '>'; margin: 0 .5em 0 0;}

footer{margin-top: -2em; height: 2em; clear: both; padding-top: 2.5em; font-size: .9em;}
footer a {color: #8c0444;}
article {padding-left: 8px;}

/* =========================================================================
   Tablet (portait)
   =======================================================================*/
@media (min-width: 768px){
    body {
        background: url(../img/magnolia.jpg) no-repeat top right;
    }
    .main {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;

      -webkit-box-shadow:  0px 0px 7px 0px rgba(0, 0, 0, 0.15);        
      -moz-box-shadow:  0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      box-shadow:  0px 0px 7px 0px rgba(0, 0, 0, 0.15);
      background: #fff;
    }
    .navbar {margin-top: -1px;}
    
    h1.title{ font-size: 3em;}
    h3.subtitle {font-size: .75em;}
    
    nav.secondary a,
    nav.secondary > ul > li:before {
        font-size: .9em;
        line-height: 1.5em;
    }
    
    
}

/* =========================================================================
   Desktop
   =======================================================================*/
@media (min-width: 980px) { 
    h1.title{ font-size: 4em;}
    h3.subtitle {
        font-size: 1em;
        width: 340px;
        text-align: center;

    }
    .welcome {
        display: block;
        padding: .45em .5em 0 .3em;
        font: 400 2.5em/0.8 'Great Vibes', Helvetica, sans-serif;
        color: #fff;
        text-align: right;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.31); 
    }
    .main { background: #fff url(../img/noemie-et-greg.jpg) no-repeat 8px 8px; }
    
    .navbar {margin-top: 131px;}
    .navbar-inner{min-height: 35px;}
    .navbar .nav > li > a {
      font-size: 1.05em;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.55); text-decoration: none;
    }
    
    
}

/* =========================================================================
   Large
   =======================================================================*/
@media (min-width: 1200px) and (min-height: 900px) {
    body {padding-bottom: 40px;}
    h1.title{ font-size: 5em;}
    h3.subtitle { font-size: 1.1em; width: 433px;}
    .welcome {
        padding: .5em .35em 0 0;
        font: 400 3em/0.8 'Great Vibes', Helvetica, sans-serif;
    }
    .main{ background-image: url(../img/noemie-et-greg-1170.jpg);  min-height: 730px; }
    
    .navbar {margin-top: 143px;}
    .navbar .nav > li > a {padding: 10px 24px 10px 20px;}
    .dropdown .caret {margin-left: 15px;}
    nav.secondary a { 
        font-size: 1.1em; line-height: 2em;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    }

}


/* =========================================================================
   homepage
   =======================================================================*/
.ps_container{
    width:940px;
    height:450px;
    margin: 30px auto 70px auto;
    position: relative;
    cursor: pointer;
}
.ps_container img{
    border:10px solid #fff;
    position:absolute;
    top:50%;
    left:50%;
    -moz-box-shadow:1px 1px 10px #000;
    -webkit-box-shadow:1px 1px 10px #000;
    box-shadow:1px 1px 10px #000;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);     
}