{% load i18n cms_tags sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}js/vendor/jquery.blueimp-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap-image-gallery.min.js"></script>
<script>
$('#blueimp-gallery').on('slide', function (event, index, slide) {
    var url = $(this).data('gallery').list[index].getAttribute('data-download-url');
    $(this).find('.download').prop('href', url).prop('download', url);
});
</script>
{% endaddtoblock %}

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <p class="text-center">
                      <a target="_blank" class="download">Télécharger en haute résolution</a>
                </p>
                <div class="modal-footer">
                
                
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Précédent
                    </button>
                    
                    <button type="button" class="btn btn-primary next">
                        Suivant
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery">
{% for photo in gallery.photos.all %}
    <a href="{{ photo.get_display_url }}" data-gallery data-download-url="{{ photo.get_full_url }}">
        <img src="{{ photo.get_thumbnail_url }}" />
    </a>
{% endfor %}
</div>


